.blocks-area
	top 64px
	height calc(100% - 30px)
	width 100%
	padding-bottom 30px
	position fixed
	&__add
		position fixed
		bottom 40px
		right 40px


.add-block-fab
	display flex
	flex-direction row
	&__trigger
		background-color #3f51b5
		width 60px
		height 60px
		border-radius 50%
		order 2
		border 0
		outline none
		margin auto
		cursor pointer
		box-shadow 0 4px 5px -2px rgba(0,0,0,.2),
					0 7px 10px 1px rgba(0,0,0,.14),
					0 2px 16px 1px rgba(0,0,0,.12)
	&__actions
		align-self center
		order 1
		
.fab-trigger__icon
	display block
	
fab-embedded-action()
	background-color #4DD0E1
	width 40px
	height 40px
	border-radius 50%
	display inline-block
	cursor pointer
	box-shadow 0 4px 5px -2px rgba(0,0,0,.2),
			0 7px 10px 1px rgba(0,0,0,.14),
			0 2px 16px 1px rgba(0,0,0,.12)
				

.embedded-actions
	opacity 0
	width 90px
	top 10px
	right 68px
	transition all .3s cubic-bezier(.55,0,.55,.2)
	&__create-usual
		fab-embedded-action()
	&__create-difficult
		fab-embedded-action()
	&--open
		opacity 1
		
.embedded-actions:not(.embedded-actions--open)
	pointer-events none