$usual_gray = #ccc
$green = #009688
$red = #F44336


.blocks-list
	height 100%
	display flex
	flex-flow row wrap
	align-content flex-start
	overflow auto
	&__item
		flex-grow 1
		min-width 25%
		height 400px
		padding 20px
		
.text-block
	border 1px solid $usual_gray
	width 100%
	height 100%
	box-shadow 0 1px 3px 0 rgba(0,0,0,.2),
			0 1px 1px 0 rgba(0,0,0,.14),
			0 2px 1px -1px rgba(0,0,0,.12)
	&__bar
		width 100%
		height 35px
		line-height 35px
		background-color #f7f7f7
	&--selected
		box-shadow 5px 5px 10px $usual_gray,
					-5px 0px 10px $usual_gray
	&--green
		& .text-block__content
			color #fff
			background-color $green
	&--red
		& .text-block__content
			color #fff
			background-color $red
	&__content
		padding 2px
		height calc(100% - 35px)
		overflow auto

.text-block
	&--difficult
		& .type-label
			float left
			&__difficult
				display block
				width 35px
				height 35px
				fill #4dd0e1
			&__usual
				display none
	&:not(.text-block--difficult)
		& .type-label
			float left
			&__difficult
				display none
			&__usual
				width 35px
				height 35px
				fill #4dd0e1
				display block

.text-block-bar
	&__delete-btn
		display inline-block
		float right
		vertical-align middle
		cursor pointer
		line-height 35px
		height 35px
		&:hover use
			fill #aaa
		

@media (max-width: 1200px)
	.blocks-list
		&__item 
			min-width 33.33%
	
@media (max-width: 960px)
	.blocks-list
		&__item 
			min-width 50%
			
@media (max-width: 640px)
	.blocks-list
		&__item 
			min-width 100%