<div class="blocks-list__item block_container">
	<div class="block_container__core text-block">
		<div class="text-block__bar text-block-bar">
			<div class="text-block-bar__type-label type-label">
				<svg class="type-label__usual" viewBox="-6 -6 36 36">
					<use xlink:href="#usualBlockIcon" width="24" height="24"></use>
				</svg>
				<svg class="type-label__difficult" viewBox="-6 -6 36 36">
					<use xlink:href="#difficultBlockIcon" width="24" height="24"></use>
				</svg>
			</div>
			<svg class="text-block-bar__delete-btn" viewBox="-6 -6 36 36">
				<use xlink:href="#clearBlockIcon" width="24" height="24"></use>
			</svg>
		</div>
		<div class="text-block__content"></div>
	</div>
</div>