*
	box-sizing border-box

html
body
	margin 0
	padding 0
	height 100%
	width 100%

.app
	font-family 'Segoe UI'
	&__top-bar
		background-color #3f51b5
		height 64px
		width 100%
		position fixed
		line-height 64px
		color #fff
		font-size 25px
		vertical-align middle
		padding-left 20px
		box-shadow 0 1px 3px 0 rgba(0,0,0,.2),
				0 1px 1px 0 rgba(0,0,0,.14),
				0 2px 1px -1px rgba(0,0,0,.12)
				
.icons-buffer
	display none